<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blackbox Generator</title>
    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
  <div class="container">
      <header class="header">
        {% block headerdata %} {% endblock %}
      </header>

      <section class="row marketing">
        {% block containdata %} {% endblock %}
      </section>

      <footer class="footer">
        <p>Powered by App Engine - 2014 - mresti</p>
      </footer>

    </div> <!-- /container -->
</body>
</html>
{% endautoescape %}