{% extends 'base.html' %}

{% block headerdata %}

<h3 class="text-muted">Project: Blackbox Generator</h3>
{% endblock %}

{% block containdata %}
<form role="form" action="/generator" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Length string</label>
    <input type="number" min="1" name="lenght" class="form-control" id="exampleInputEmail1" placeholder="Length string" required>
  </div>
  <div class="form-group">
    <label>Which characters are allowed to occur in the strings?</label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="typ" value="letter" required>
      Letters (A-Za-z) -> Minimum length: 1
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="typ" value="numeric" required>
      Numeric digits (0-9) -> Minimum length: 1
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="typ" value="alpha" required>
      Alphanumerics (0-9A-Za-z) -> Minimum length: 1
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="typ" value="simbols" required>
      Simbols letters -> Minimum length: 1
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="typ" value="quotas" required>
      Quotas characters -> Minimum length: 3
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="typ" value="extra" required>
      Extra simbols letters -> Minimum length: 1
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="typ" value="all" required>
      All letters -> Minimum length: 1
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="typ" value="lengtype" required>
      Lenght String -> Minimum length: 1
    </label>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </div>
  
</form>
{% endblock %}
